header{
	height: 20% ;
	padding: 20px;
	background-image: url("gig3.webp");
	margin: 0;
	background-repeat: repea;
	background-size: auto;
	color: white;
}
body{
	background-image: url("ground2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: monospace;
	margin: 0;
}
ground1{
	color: white;
}
p{
	color: white;
}
title{
	color: white;
}
h1{
	color: white;
}
h2{
	color: white;
}
h4{
   list-style-type:none;
   margin:10px;
   padding:10px;
   text-align: right;
   color: white;
}	
ul{
	color: white;
	text-align: center;
    list-style-position: inside;
}
button{
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
 a { color: #FFFAF0; }
a { color: #FFF8DC; }
.contact{
	a { color: #FFF8DC;
	} /* CSS link color */
			margin-top: -180px;
			margin-left: 300px;
			color: white;
			font-size: 20px;
		}
lia {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
/* Change the link color on hover */
lia:hover {
  background-color: white;
  color: white;
}

.introduction {
	text-align: center;
}